# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ks
!*.xp3
!.gitignore
!.gitattributes
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_define.dat

# Images
!bg_conf_mes_t.png
!cnf_kidokuskip.png
!cnf_midokuskip.png
!cnf_rclick_conf.png
!cnf_rclick_hide.png
!cnf_rclick_save.png
!cnf_win_full.png
!config_reset.png